<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <title></title>
</head>
<body>
    <div ng-app="myApp" ng-controller="formCtrl">
        <form>
            Please input the password length:<br>
            <input type="number" ng-model="Length"><br>
            How many Upper Case Letters?<br>
            <input type="number" ng-model="UpperCase"><br>
            How many Numbers?<br>
            <input type="number" ng-model="Numbers"><br>
            How many symbols?<br>
            <input type="number" ng-model="Symbols"><br>
            <input type="checkbox" ng-model="Similar"> Does it contain similar Characters?  <br>
            <input type="checkbox" ng-model="Ambigous"> Does it contain ambiguous Characters? <br>
            <button ng-click="click()">Submit</button>
        </form>

        <br>
        <p id="passw"> The password is:</p>
        <h1>{{demo}}</h1>

    </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('formCtrl', function ($scope, $http) {
                $scope.click = function () {
                    $http.get('api/values/${$scope.Length}/${$scope.UpperCase}/${$scope.Numbers}/${$scope.Symbols}/${$scope.Similar}/${$scope.Ambigous}').then(function (response) {
                        $scope.demo = response.data;
                    })
                }
            });
        </script>
    
</body>
</html>